@import url("https://fonts.googleapis.com/css?family=Poppins:300,400%7CQuicksand:300,400&display=swap");
:root {
	--red: #ee6588; /* rgb(238, 101, 136) */
	--orange: #f69560; /* rgb(246, 149, 96) */
	--brown: #937f8f;
	--gray: #5a6284; /* rgb(90, 98, 132) */
	--text: #7d7d7d;
	--borders: #dfdfdf;
	--lightgray: #f1f1f1;
	--socialinks: #bbbbbb;
	--font-size: 16px;
}
/************************
basic styles
************************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Poppins", sans-serif;
	font-size: var(--font-size);
	background-image: linear-gradient(
			rgba(246, 149, 96, 0.7),
			rgba(90, 98, 132, 0.7)
		),
		url(img/bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 80px 0;
    font-weight: 300;
}
h1 {
	font-size: 3rem;
	color: var(--lightgray);
	font-weight: 300;
}
.btn {
	padding: 10px 20px;
	font-size: 1.2rem;
}
.btn__transparent {
	background-color: transparent;
	border: 2px solid var(--lightgray);
	border-radius: 10px;
	margin-top: 30px;;
    margin-bottom: 30px;
	color: var(--lightgray);
}

main {
	width: 70%;
	margin: 0 auto;
	max-width: 1900px;
}
section {
	padding: 50px 30px;
}
.text-white {
    color:var(--lightgray);
}
.text-dark {
    color: var(--text);
}
/************************
grid
************************/
.row {
	width: 100%;
}
.row::after {
	display: block;
	content: "";
	clear: both;
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}
.col-pet {
	width: 20%;
}
[class*="col-"] {
	float: left;
}
/************************
header
************************/
header {
	padding: 50px 0;
	background-image: linear-gradient(
			rgba(90, 98, 132, 0.7),
			rgba(90, 98, 132, 0.7)
		),
		url(img/header.jpg);
	background-position: center;
	background-size: cover;
}
header hgroup {
	padding: 10px 0;
	text-align: center;
	color: var(--lightgray);
	width: 60%;
	margin: 0 auto;
	background-image: linear-gradient(
		40deg,
		rgba(238, 101, 136, 0.5),
		rgba(246, 149, 96, 0.5)
	);
}
header hgroup h1 {
	margin-bottom: 1.5rem;
}
/************************
one
************************/
.one {
    background-color: var(--lightgray);
    text-align: center;
}
.jumbo h2 {
    color: var(--red);
    margin-bottom: 20px;
}
/************************
two
************************/
.two {
	padding: 0;
}
.two .col-6 {
	height: 350px;
	overflow-y: hidden;
	color: var(--lightgray);
}
.two .col-6 img {
	width: 100%;
	height: 100%;
	display: block;
	/* object-fit: cover; */
}
.two .col-6:first-child {
	padding: 50px 30px;
	background-image:linear-gradient(to right,
		rgb(238, 101, 136),
		rgb(246, 149, 96));
}
.two .col-6 h3 {
	font-size: 2.3rem;
}
.two .col-6 p {
	font-size: 1.2rem;
	letter-spacing: 1.3px;
}
/************************
three
************************/
.three {
    background-color: var(--lightgray);
}
.three .col-4 img {
    width: 100%;
    height: auto;
    display: block;
    
}
.three .col-4 {
    padding: 15px;
}
.three .col-4 img:hover {
-webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

